<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Bookmarked created for book: <%= @book.title %>.<br></h1>
<p>
  You have successfully bookmarked the book: <%= @book.title %>.
</p>
</body>
</html>