<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Book placed on hold: <%= @book.title %>.<br></h1>
<p>
<p>
  You have successfully placed hold request for the book: <%= @book.title %>.
</p>
</p>
</body>
</html>